.background-color {
    background-color: white;
}

.background-gradient {
    background: linear-gradient(to right bottom, rgba(126, 123, 130), rgba(0, 0, 0, 0)) !important;
    background-image: linear-gradient(to right bottom, rgb(126, 123, 130), rgb(0, 0, 0)) !important
}

.menu-title {
    font-family: 'Audiowide', sans-serif;
    color: white;
    font-style: italic;
}

.confirmation-btn{
    border-color: black;
    background-color: transparent;
    color: white;

    font-family: Michroma;
    font-style: italic;
    font-size: x-small;

}

.confirmation-btn:hover{
    border-color: #7bc6ff;
    background-color: #7bc6ff;
    color: white !important;
}

.custom-btn{
    font-family: Michroma;
    font-style: italic;
    font-size: x-small;
}

/* FONT */
.main-font{
    font-family: Michroma;
}


.margin-0 {
    margin: 0px;
}

.padding-0 {
    padding: 0px !important;
}

.title-padding{
    padding-bottom: 50px;

}

.transparent {
    background-color: transparent !important;
    border-color: transparent !important;

}

.width-fill{
    width: -webkit-fill-available !important;
}

.translate-top{
    transform: translateY(-8vw) ;
}

.padding-bottom{
    padding-bottom: 150px !important;
}

/* ALIGN */
.align-end {
    align-self: flex-end;
}

.align-baseline {
    align-self: baseline;
}

.align-center {
    align-self: center;
}

/* JUSTIFY */
.justify-end {
     justify-content: flex-end;
 }

.justify-center {
    justify-content: center;
}


/* TEXT ALIGN */
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
    text-align: -webkit-center;
}

.height-100 {
    height: 100%;
}

.pointer{
    cursor: pointer;
}

/* ANIMATIONS */
.toolbar-animation {
    opacity: 0;
    -webkit-animation: fade-in ease-in 2.5s 7s forwards;
    animation: fade-in ease-in 2.5s 7s forwards;
}

.translate-top-title{
    transform: translateY(-395px);
}

/* KEYFRAMES */

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}