<template>
  <v-footer class="whitesmoke justify-center">
    <span> © Copyright 2020 by BurgoDev</span>
  </v-footer>
</template>

<script>
  export default {
    name: "Footer"
  }
</script>

<style scoped>

</style>